openapi: 3.0.4
info:
  title: Stock Market Open Times
  description: >-
    Stock Market Open Times is a simple tool for getting the open times of the
    stock market. It returns the open times of the stock market for each day of
    the week.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/stockmarketopentimes:
    get:
      summary: Lookup Market Open Times
      description: >-
        Get the open times of the stock market on the current date of the
        request
      operationId: stockmarketopentimes
      parameters:
        - name: exchange
          in: query
          schema:
            type: string
          required: true
          description: The stock exchange code
          example: NYSE
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  timezone: America/New_York
                  exchange: NYSE
                  fullName: New York Stock Exchange
                  isOpen: false
                  openingTime: '2025-12-16 09:30:00'
                  closingTime: '2025-12-16 16:00:00'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
